/* Apply some general styles to the body and h1 elements */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #333;
  margin: 0;
  padding: 0;
}

/* Style the piDay element */
#piDay {
  font-family: sans-serif;
  font-size: 48px;
  position: absolute;
  top: -50px;
  right: 0px;
  color: white;
  text-shadow: 2px 2px 4px #000;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px white;
}

/* Style the buttons */
button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #2c3e50;
  color: #fff;
}

#showDigitsButton {
  color: white;
  text-shadow: 2px 2px 4px #000;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px white;
}

#stopButton {
  color: white;
  text-shadow: 2px 2px 4px #000;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px white;
}

/* Style the container for the digits */
#piDigits {
  margin: 40px auto;
  max-width: 700px;
  font-size: 24px;
  line-height: 1.5;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 0;
  height: 10rem;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px white;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 0;
  height: 10rem;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px white;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}